@model FoodDatabase.Models.FoodCaloriesViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="FoodItems" asp-action="Index" method="get">
    <p>
        <select asp-for="FoodItemCalories" asp-items="Model.Calories">
            <option value="">All</option>
        </select>

        Title: <input asp-for="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Carbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Lipids)
            </th>            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lipids)
            </td>            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>